.site-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #e8ab06;
	transition: all 0.2s linear 0s;
	text-align: center;
}
.site-name:hover,
.site-name:visited {
	color: #ebac00;
}
.container {
	max-width: 1000px;
}
.navbar {
	background-color: #fffcf5;
}
.cover {
	min-width: 100vw;
	min-height: 40vh;
	background-image: 
		linear-gradient(
      		rgba(232, 171, 6, 0.19), 
			rgba(232, 171, 6, 0.18)
    	),
		url('../img/background.jpg');
	background-position: center center;
	background-size: cover;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.navbar{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.cover h1,
.cover h3 {
	color: aliceblue;
}