* {
	margin: 0;
}

html,
body {
	height: 100%;
	font-family: 'Muli', sans-serif;
}

.navbar li a,
.navbar li a:visited {
	color: #656565;
}

.footer p a,
.footer p a:visited {
	color: rgba(208, 214, 219, 0.71);
	text-decoration: none;
}

a:hover,
.navbar li a:hover,
.footer p a:hover {
	color: #0e9ec9;
	transition: all 0.15s ease-in-out 0s;
	text-decoration: none;
}

.site-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #e8ab06;
	transition: all 0.2s linear 0s;
	text-align: center;
}

.site-name:visited {
	color: #e8ab06;
}

.site-name:hover {
	color: #0e9ec9;
}

.container {
	max-width: 1000px;
}

@media (min-width: 756px) {
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar-nav > li > a:focus {
		background-color: transparent;
		box-shadow: inset 0px -5px 0px 0px #e8ab06;
	}
}

.navbar {
	background-color: #fffcf5;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.title,
.cover,
#cad {
	max-width: 100vw;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
}

.cover {
	min-height: 40vh;
	background-image: linear-gradient( rgba(232, 171, 6, 0.19), rgba(232, 171, 6, 0.18)), url('../img/background.jpg');
	justify-content: center;
}

.title {
	min-height: 150px;
	background-image: linear-gradient( rgba(232, 171, 6, 0.19), rgba(232, 171, 6, 0.18)), url('../img/background.jpg');
	justify-content: flex-end;
}

#cad {
	min-height: 400px;
	background-image: linear-gradient( rgba(0, 113, 52, 0.54), rgba(0, 113, 52, 0.54)), url('../img/cad.jpg');
	color: aliceblue;
}

.cover h1,
.cover h3,
.title h2 {
	color: aliceblue;
	font-family: 'Damion', cursive;
}

.title h2 {
	font-size: 4em;
}

.cover h1 {
	font-size: 6em;
}

.flag {
	height: 15px;
	margin: 0 auto;
}

.segment {
	font-size: 1.2em;
	margin-top: 2em;
	margin-bottom: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Sticky footer */

.wrapper {
	min-height: 100%;
	/* equal to footer height */
	
	margin-bottom: -72px;
}

.wrapper:after {
	content: "";
	display: block;
}

.footer,
.wrapper:after {
	min-height: 72px;
}

.footer {
	background: #343025;
	color: rgba(208, 214, 219, 0.71);
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footext {
	display: block;
	padding: 1em;
}
/* Simple Flat Social buttons */

.snav {
	padding: 0;
	padding-top: 0.5em;
	list-style-type: none;
	display: block;
	float: right;
}

@media (max-width: 768px) {
	.snav {
		display: block;
		float: none;
		margin: 0 auto;
		max-width: 128px;
		padding-bottom: 0.5em;
	}
	.cover h1 {
		font-size: 4em;
	}
}

.snav ul {
	margin: 0;
	padding: 0;
}

.snav li {
	float: left;
}

.sbtn {
	display: block;
	color: #343025;
	background-color: #ffffff;
	width: 1.3em;
	height: 1.3em;
	font-size: 2em;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: auto;
	border-radius: 4px;
	margin: 3px;
	opacity: 0.5;
	transition: all 0.3s ease-in-out 0s;
}
/* Grow on hover */

.sbtn:visited {
	color: #343025;
}

.sbtn:hover {
	opacity: 1;
	color: #343025;
}

.carousel {
	box-shadow: 2px 2px 8px 1px rgba(173, 173, 173, 0.79);
	margin-top: 3em;
	margin-bottom: 3em;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
	text-shadow: 4px 30px #000 2px;
	opacity: 0.6;
	transition: opacity 0.2s ease-in-out 0s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel-control:hover {
	opacity: 1;
}

.carousel-indicators {
	opacity: 0.8;
	transition: opacity 0.2s ease-in-out 0s;
}

.carousel-indicators:hover {
	opacity: 1;
}

.carousel-indicators {
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.carousel-indicators li {
	display: inline-block;
	width: 8px;
	height: 1px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 3px solid #fff;
	border-radius: 0px;
	opacity: 0.4;
}
.carousel-indicators .active {
	width: 8px;
	height: 1px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	border-bottom: 3px solid #fff;
	border-radius: 0px;
	opacity: 1;
}
#success:not(:target) {
	display: none;
}