{{ $baseurl := .Site.BaseURL }}
</div>
<footer class="footer">
	<div class="container">
		<div class="col-sm-6">
			<p class='footext'>Copyright &copy; 2020 <a href="{{ $baseurl }}/">fémműhely.</a> Designed by <a href="http://umcaruje.github.io" target="_blank">umcaruje.</a></p>
		</div>
		<div class="col-sm-6">
			<ul class="snav">
				<li>
					<a href="https://www.youtube.com/watch?v=2q0D1LqWHyg" target="_blank" class="sbtn" title="Youtube">
						<i class="fa fa-youtube-play"></i>
					</a>
				</li>
				<li>
					<a href="mailto:fem.munkak@gmail.com" class="sbtn " title="Email us">
						<i class="fa fa-envelope"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
