{{ $baseurl := .Site.BaseUrl }}
</div>
<footer class="footer">
	<div class="container">
		<div class="col-sm-6">
			<p class='footext'>Copyright &copy; 2015 femmuhely.</p>
		</div>
		<div class="col-sm-6">
			<ul class="snav">
				<li>
					<a href="https://plus.google.com/112957690668016201603" target="_blank" class="sbtn" title="Google +">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/watch?v=2q0D1LqWHyg" target="_blank" class="sbtn" title="Youtube">
						<i class="fa fa-youtube-play"></i>
					</a>
				</li>
				<li>
					<a href="mailto:fem.munkak@gmail.com" class="sbtn " title="Email us">
						<i class="fa fa-envelope"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>