{{ partial "header_en.html" . }}

<div class="cover">
	<div class="container">
		<h1>We love machining.</h1>
		<h3>Come Visit us Aliens</h3>
	</div>
</div>

<div class="segment">
	<div class="container">
		<h1 class="page-header text-center">Milling , Turning and Grinding since 1991.</h1>
		<div class="col-sm-7">
			<br><br>
			<p>We are a small company situated at <b>Börgöndi út 2-4</b> in <b>Székesfehérvár, Fejér</b>.</p>
			<br><br>
			<p>Our main objectives are: competitive price, quality, and being on schedule for all tasks</p>
		</div>
		<div class="col-sm-5">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2712.2802706762636!2d18.4229167!3d47.1719489!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4769f7724977b39d%3A0x579e88e70c64c5e2!2zQsO2cmfDtm5kaSDDunQgMSwgU3rDqWtlc2ZlaMOpcnbDoXIsIDgwMDAgSHVuZ2FyeQ!5e0!3m2!1sen!2srs!4v1428875639182" width="320" height="200" style="border:0"></iframe>
			</div>
		</div>
	</div>	
</div>
<hr>
<div class="segment">
	<div class="container">
	
	</div>	
</div>
{{ partial "footer.html" . }}