{{ partial "header_hu.html" . }}
{{ $baseurl := .Site.BaseUrl }}
<div class="cover">
	<div class="container">
		<h1>Szeretjük a megmunkálást.</h1>
		<h3>~</h3>
	</div>
</div>

<div class="segment">
	<div class="container">
		<h1 class="page-header text-center">Esztergálás, Marás, Köszörülés 1991-óta.</h1>
		<div class="col-sm-7">
			<br>
			<p>Kis cégünk a <b>Börgöndi út 2-4</b> alatt található <b>Székesfehérváron, Fejér megyében</b>.</p>
			<br>
			<p>Legfőbb célunk : Versenyképes ár, Minőség, s Határidőre legyártani a rendelés.</p>
		</div>
		<div class="col-sm-5">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1356.1305315105485!2d18.42318800000001!3d47.172325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4769f7724b2c60c1%3A0xe076208b9c78c3ca!2zRsOpbWlwYXJpIG3FsWhlbHk!5e0!3m2!1sen!2srs!4v1428918969090" width="320" height="200" style="border:0"></iframe>
			</div>
		</div>
	</div>	
</div>
<div class="segment" id="cad">
	<div class="container">
	<h2 class="page-header text-left">Tevékenységeink:</h1>	
	<ul class="fa-ul">
		<li><i class="fa-li fa fa-arrow-right"></i>Tervezés AutoCAD vagy, a napjainkban oly elterjedt parametrikus tervezőkkel (SolidWorks, TopSolid).</li>
		<li><i class="fa-li fa fa-arrow-right"></i>Gépparkunk: Eszterga / Maró / Köszörűgép.</li>
		<li><i class="fa-li fa fa-arrow-right"></i>Megmunkálunk: Vas, Műanyag, Fát.</li>
		<li><i class="fa-li fa fa-arrow-right"></i>Egyedi alkatrészek, egyedi határidőre!</li>
	</ul>
	</div>	
</div>
<br>
<div class="segment" id="seemore">
	<div class="container text-center">
		<h2>Szeretne gyártatni velünk?</h2>
		<h3>Keressen <a href="{{ $baseurl }}/hu/contact">Minket</a>, látogassa meg <a href="{{ $baseurl }}hu/equipment">gépparkunkat</a>,</h3>
		<h3>Vagy nézze meg <a href="{{ $baseurl }}/hu/showcase">pár munkánkat a múltból.</a></h3>	
	</div>
</div>
<br><br><br>

{{ partial "footer.html" . }}
